<% if notice %>
<%= notice %>
<% end %>
<div>
  <ul>
  To Do
  <li>Album/Compilation creation</li>
  <li>Achievements</li>
  <li>Music Videos</li>
  <li>Past Collaborations</li>
  <li>Description of artist</li>
  <li>Concert map- Location identifier to go log into concerts</li>
  <li>Ticket Sales - Sale Tickets</li>
  <li>Buy Merchandise</li>
  <li>Facebook login - clean</li>

</ul>
<h2>What do people want to see?</h2>
<p>their loyalty as a fan. what their loyalty gets them, attend concerts, engage with artists, buy things. Info about the artist., lyrics, when they are coming to a city near me? discount on tickets,</p>
</div>
<p>Artist wants to see stats on their fanbase</p>

<div class="span10" id="fan_base_show">
    <h4>Join this fan base to receive notifications about <%= @fan_base.name %>'s new music and news. Eliminate the hassle of staying up to date on artists you're a fan of. Let us do the work for you.
    </h4>
    <h1><%= @fan_base.name %>'s Fan Base</h1>

    <div id="fan-base-image"><%= image_tag(@fan_base.fb_art.url(:medium)) %>
      <% if user_signed_in? %>
    <%= render 'follow_form' %>
      <% else %>
      <div class="btn btn-primary disabled" style="float:left; margin-top:15px;">Login to join this fan base</div>
    <% end %></div>
    <h2 id="fan-base-stats">Total Songs: <%= @fan_base.number_of_songs %><br />
      <% if user_signed_in? %>
    <%= link_to "Total Fans: #{@fan_base.total_fans}", fan_base_followers_fan_base_path(@fan_base), remote: :true, :id => "page-link" %><br />
      <% else %>
      Total Fans: <% @fan_base.total_fans %><br />
      <% end %>
    Total Upvotes: <%= @fan_base.total_upvotes %><br />
    <%= tweet_button(:url => "http://www.musicmind.co#{url_for(@fan_base)}", :text => " Join #{@fan_base.name}'s fan base and stay up to date on new releases.", :via => "mmalpha", :count => "none") %></h2>
    

    <div id="artist-label">
      <% if @label.present? %>
        <%= image_tag (@label.label_image.url(:thumb)) %>
      <% end %> 
    </div>

    <section id="albums">
      <% if @albums.present? %>
      <%= render 'albums' %>
      <% end %>
    </section>
    
    <% if @master_songs.present? %>
    <section id="fan-base-music">
      <%= render 'fan_base_music' %>
    </section>
    <% else %>
      <h3 style="float:left;">This person has no music in their fan base.</h3>
    <% end %>
    
    
    <% unless @fan_base.events.empty? %>
  	<%= @fan_base.event.first %>
  	<%= link_to 'See all', events_path(@fan_base) %>
    <% else %>
    <% end %>
  <section id="fan-base-owner-links">
    <% if current_user == @fan_base.user %>
     <%# <%= link_to 'Create An Event', new_event_path(@fan_base) %>
    <% end %>

    <% if current_user == @fan_base.user %>
      <%= link_to 'Edit', edit_fan_base_path(@fan_base), remote: :true, :id => "page-link" %> |
      <%= link_to 'Upload A Single Song', new_master_song_path, remote: :true, :id => "page-link" %> |
      <%= link_to 'Add Song to an Album', add_album_song_master_songs_path, remote: :true, :id => "page-link" %> |
      <%= link_to 'Add Label', new_fan_base_label_path(@fan_base), remote: :true, :id => "page-link" %> |
      <%= link_to 'Add Album', new_album_path, remote: :true, :id => "page-link" %>

    <% else %>
    <% end %>
  </section>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#jquery_jplayer_1").jPlayer({
        swfPath: "/app/assets/jplayerflash",
        supplied: "mp3",
        wmode: "window"
    });
    $("a.play").click(function(e) {
        e.preventDefault();
        $("#jquery_jplayer_1")
            .jPlayer("setMedia", {mp3: this.href })
            .jPlayer("play");
      var songid = $(e.target).attr('data-id');
      var songtype = $(e.target).attr('data-type');
      $.ajax({
      url: '/create_listen.json',
      data: { songid: songid, songtype: songtype },
      async: false
      });
    });
});
  </script>
