<div id="your-fb-wrapper">

<section class="yfb" id="yours">
<% if current_user.user_type == "music artist" %>
  <% unless current_user.fan_base.present? %>
    <div><%= link_to 'Create Your Fan Base >>', new_fan_base_path, remote: :true, :id => "page-link" %></div>
  <% else %>
  <% end %>
<% end %>
<% if current_user.fan_base.present? %>
  <h2>Your Fan Base</h2>
  <div id="your-fanbase">
  <ul style="list-style:none; margin-left:0px;">
  <%= link_to image_tag(current_user.fan_base.fb_art.url(:medium2)), @fan_base, remote: :true, :id => "page-link" %>
  <li style="text-shadow:0px 1px white;">Total Songs: <%= current_user.fan_base.number_of_songs %></li>
  <li style="text-shadow:0px 1px white;">Total Fans: <%= current_user.fan_base.total_fans %></li>
  <li style="text-shadow:0px 1px white;">Total Upvotes: <%= current_user.fan_base.total_upvotes %></li>
  </ul>
<% end %>
  </div>
</section>

<div id="divider"><%= image_tag('VerticalDivider.png') %></div>

<section class="yfb" id="yourein">

<h2>Fan Bases You're In:</h2>

<% unless @fan_base_followings.present? %>

<h3>You're currently not in any fan bases. <br />You can start by joining fan bases <%= link_to 'HERE', fan_bases_path, remote: :true, :id => "page-link" %> </h3>

<% else %>

<% @fan_base_followings.each do |followed_fan_base| %>
  <div id="fan-of" style="float:left; padding-right:20px; width:200px; height:auto;">
      <%= link_to image_tag(followed_fan_base.fb_art.url(:medium2)), fan_base_path(followed_fan_base), remote: :true, :id => "page-link" %>
     <p id="name"><%= followed_fan_base.name.capitalize %></p>
  </div>  
<% end %>
<% end %>
<h4><%= link_to 'All Fan Bases >>', fan_bases_path, remote: :true, :id => "page-link" %></h4>
</section>

</div>



