<%= javascript_include_tag "jquery_nested_form.js" %>
<% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= nested_form_for @album do |f| %>
  
  <section>
    <div>
      <%= f.label :album_artwork %><br />  
      <%= f.file_field :album_artwork %><br />
    </div>
    <div>
      <%= f.label :album_title %> 
      <%= f.text_field :album_title %><br />
    </div>
  </section>
    <%= f.fields_for :album_tracks do |track_form| %>
      <%= track_form.text_field :ms_id %>
      <%= track_form.link_to_remove "Remove this track" %>
    <% end %>
    <p><%= f.link_to_add "Add a song", :album_tracks %></p>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

