<p id="notice"><%= notice %></p>

<%= image_tag @album.album_artwork.url(:medium) %>

<%= @album.album_title %>

<% @tracks.each do |track| %>
  <%= track.id %>
<% end %>


<%= link_to 'Add Songs To This Album', new_album_track_path(@album) %>
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', :back, remote: :true, :id => "page-link" %>
