<div>
<% if @master_song.released? %>
  <% if @master_song.playable = true %>
	
		<%= link_to @master_song.m_song.url, class: :play, :id => "page-song-play", remote: :true,
			'data-id' => @master_song.id ,
			'data-type' => 'MasterSong' do  %>
			<button class="btn btn-warning" style="margin-right:7px;">Play</button>
		<% end %>
	<% end %>

	<% unless current_user.owning?(@master_song) %>    
		<% unless @master_song.price == 0.00 %>
			
			<% unless current_cart.line_items.find_by_master_song_id(@master_song.id).present? %>
				<div class="page-add-to-cart" id="add-to-cart-<%= @master_song.id %>">
					<%= button_to "#{number_to_currency(@master_song.price)} | Add to Cart", line_items_path(master_song_id: @master_song), remote: :true, :class => 'btn' %>
				</div>
			<% else %>
				<%= render 'fan_bases/added_to_cart' %>
			<% end %>

		<% else %>
			<div id="add-to-library-free-2" style="float:left;">
				<%= form_for current_user.master_song_relationships.build(:owned_id => @master_song.id), remote: :true do |f| %>
					<%= f.hidden_field :owned_id %>
					<%= f.submit "Free | Add To Your Library", :class => 'btn' %>
				<% end %>
			</div>
		<% end %>

	<% else %>
		<div id="owned-links"><%= render 'owned_song_links' %></div>
	<% end %>

<% else %>

	<% unless current_cart.line_items.find_by_master_song_id(@master_song.id).present? %>
		<div id="add-to-cart-<%= @master_song.id %>" style="float:left;">
			<%= button_to "#{number_to_currency(@master_song.price)} | Pre-Order", line_items_path(master_song_id: @master_song), remote: :true, :class => 'btn btn-warning' %>
		</div>
	<% else %>
		<%= render 'fan_bases/added_to_cart_pre_order' %>
	<% end %>
		
<% end %> 

<% unless current_user.up_voted_song?(@master_song) %>
      <div id="master-song-upvote" style="float:left; margin-top:0px;">
        <%= link_to "Upvote", song_up_votes_path(:master_song_id => @master_song.id), method: :post, :class => "btn icon-arrow-up", remote: :true %>
      </div>

    <% else %>
        <%= render 'master_song_page_upvoted' %>
    <% end %>
<div class="tweet-button" id="page-tweet-button">
  <%= tweet_button(:url => "http://www.musicmind.co#{url_for(@master_song)}", :text => "#{@master_song.title} by #{@master_song.artist} - add to your MusicMind library here:", :via => "musicmindalpha", :count => "none") %>
</div>
</div>