<div class="row">
  <% unless user_signed_in? %>
    <h1 class="column_7">A cool place for artists to gain fans and for fans to find music.</h1>
  <% end %>
</div>

<div class="row">
  <h1 class="column_7" id="discovery-head">Discover Music</h1>
</div>
<div class="row">
  <div class="column_12">
    <%= link_to 'Newly Added', master_songs_path, remote: :true, :class => "button success", :id => "page-link" %> |
    <%= link_to 'Trending Music', trending_master_songs_path, remote: :true, :class => "button success", :id => "page-link" %> |
    <%= link_to 'Most UpVoted Music', most_upvoted_master_songs_path, remote: :true, :class => "button success", :id => "page-link" %> |
    <%= link_to 'Free Music', free_master_songs_path, remote: :true, :class => "button success", :id => "page-link" %> |
    <%= link_to 'Most Listened To Music', most_listened_to_master_songs_path, remote: :true, :class => "button success", :id => "page-link" %>
  </div>
</div>

<div class="row">
  <div id="master_songs">
    <% @newly_added_songs.each do |master_song| %>
      <%= render 'master_songs/song_feed_item', :master_song => master_song %>
    <% end %>
  </div>
  <div id="paginate" class="pagination-centered">
    <%= paginate @newly_added_songs, :theme => 'twitter-bootstrap', remote: :true, :id => "page-link" %>
  </div>
</div>




