
<% @activities.each do |activity| %>
<% unless activity.trackable.nil? %>
<% if activity.key == "activity.fanrelationship.create" %>
<% if current_user.following?(activity.owner) %>

  <div id="feed-item">
	
	<h4 style="width:100%;">
    <%= link_to image_tag(activity.owner.user_image.url(:thumb_small)), user_path(activity.owner), remote: :true, :id => "page-link" %>
    <%= link_to "#{activity.text}", user_path(activity.owner), remote: :true, :id => "page-link" %> joined a fan base <%= time_ago_in_words(activity.created_at) %> ago.</h4><br /> <!-- user joined a fan base -->
    
    <div style="float:left; padding-left:120px;"><%= link_to image_tag(activity.trackable.followed.fb_art.url(:thumb_small)), fan_base_path(activity.trackable.followed), remote: :true, :id => "page-link" %>
      <%= link_to "#{activity.trackable.followed.name}", fan_base_path(activity.trackable.followed), remote: :true, :id => "page-link" %>
    </div>
    <div></div>
    <div style="float:left; padding-left:10px;">
      Total Songs: <%= activity.trackable.followed.number_of_songs %><br />
      Total Fans: <%= activity.trackable.followed.total_fans %>
      </div>
  
  </div>
<% end %>
<% end %>
<% end %>
<% end %>


