
	<% @activities.each do |activity| %>
	<% if activity.trackable_type == "MasterSong" %>
	<% if current_user.following?(activity.owner) %>
      <div id="feed-item">
	  	<%= link_to image_tag(activity.owner.user_image.url(:thumb)), user_path(activity.owner) %>
	    <%= activity.text %> <%= time_ago_in_words(activity.created_at) %> ago.<br/>

	    <%= link_to image_tag(activity.trackable.song_art_work.url(:thumb_small)), master_song_path(activity.trackable) %>
	    
	    <%= link_to "#{activity.trackable.title}", master_song_path(activity.trackable) %> by 
	    <%= link_to "#{activity.trackable.user.fan_base.name}", fan_base_path(activity.trackable.user.fan_base) %><br />
	    
	    <%= pluralize(activity.trackable.owners.count, "person") %> added this song to their library.<br />
	    It was upvoted <%= pluralize(activity.trackable.song_up_votes.count, "time") %>
</div>
<% end %>
	<% end %>
	<% end %>
