<!DOCTYPE html>
<head>
  <title><%= title %></title>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


  <% if user_signed_in? %>
    <%#= render 'layouts/main_nav_links' %>
  <% end %>
<body>
  <% if user_signed_in? %>
    <div class="container">

  <% else %>
    <div class="container">

  <% end %>


  <!-- <li><%#= link_to 'About', pages_about_path, remote: :true, :id => "page-link" %></li>     -->
  <!-- <li><%#= link_to 'Support', pages_help_path, remote: :true, :id => "page-link" %></li>     -->
  <!-- <li><%#= link_to 'Careers', pages_recruiting_path, remote: :true, :id => "page-link" %></li> -->
  <% unless user_signed_in? %> 
    <li><%#= link_to "Sign up", new_user_registration_path, remote: :true, :id => "page-link" %></li>
  <% end %>
  <% if user_signed_in? %>           
    <%#= render 'layouts/player' %>
    <%#= render 'layouts/search_form_main' %>
  <% else %>
    <%= render 'devise/sessions/sign_in' %>
  <% end %>
  <!-- <div id="cart"> -->
    <%#= render 'layouts/cart_display' %>
  <!-- </div> -->

<%# flash.each do |name, msg| %>
<!-- <div class="alert alert-<%#= name == :notice ? "success" : "error" %>" style="width:80%; margin:0 auto; margin-top:10px;"> -->
<!-- <a class="close" data-dismiss="alert">×</a> -->
<%#= msg %>
<!-- </div> -->
<%# end %>
<%# unless user_signed_in? %>
  <%#= render 'user_access_requests/form' %>
<%# end %>
<%#= image_tag("devider.png") %>
<%# if user_signed_in? %>
  <%# unless current_user.user_type.present? %>
    <%#= render 'devise/registrations/user_type_form' %>
  <%# end %>
<%# end %>

<%#= render 'layouts/main_content' %>

<% if user_signed_in? %>
  </div>
<% else %>
  </div> 
<% end %>

</body>

</html>



